<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
    const otherDomain = "https://4bc2-80-187-122-184.ngrok-free.app"
        $().ready(() => {
            $("#local").click(() => {
                console.log("clicked");
                window.fetch(`/local`).then(
                    (response) => {
                        console.log(response);
                    }
                );
            });

            $("#other").click(() => {
                console.log("clicked");
                window.fetch(`${otherDomain}/other`, {credentials: 'include'}).then(
                                    (response) => {
                                        console.log(response);
                                    }
                                );
            });
        })
    </script>
</head>
<body>
{{{body}}}
</body>
</html>
